python-dotenv==1.0.0
weaviate-client==4.4.3
langchain==0.1.9
langchain-community==0.0.19
langchain-text-splitters==0.0.1
pypdf==3.17.4
transformers==4.35.2
sentence-transformers==2.2.2
torch==2.1.1
accelerate==0.25.0 
dotenv==0.9.9
numpy==1.24.3
matplotlib==3.7.2
scipy==1.11.3
pandas==2.0.3
seaborn==0.12.2
tqdm==4.66.1
scikit-learn==1.2.2
plotly==6.1.1


#new Requirements 
